@media (max-width:320px){
*{
    margin: 0;
    padding: 0;
}
.grid-layout{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3 1fr);
}
.c1{
    background-color: red;
    width: 314px;
    height: 200px;
    margin: 3px;

}
.c2{
    background-color: blue;
    width: 314px;
    height: 200px;
    margin: 3px;

}
.c3{
    background-color: rgb(120, 4, 120);
    width: 314px;
    height: 200px;
    margin: 3px;

}

}
@media(min-width:321) and (max-width:768)
{
    *{
        margin: 0;
        padding: 0;
    }
    .grid-layout{
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .c1{
        background-color: red;
        width: 314px;
        height: 200px;
        margin: 3px;
    
    }
    .c2{
        background-color: blue;
        width: 314px;
        height: 200px;
        margin: 3px;
    
    }
    .c3{
        background-color: rgb(120, 4, 120);
        width: 314px;
        height: 200px;
        margin: 3px;
    
    }
    .c4{
        background-color: darkgreen;
        width: 314px;
        height: 200px;
        margin: 3px;
    }


}